/* -- agar samjh na aaye to sari cheeje comment kro aur ek ek kr ke starting se comment htao aur changes dekho */


/* h1{
    color: blue;
    background-color: yellow;;
} */

/* body{
    background-color: pink;
} */

/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */ 


#abc{
    height: 250px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}


.content {
    color: red;
}
.newClass{
    background-color: green;
}
