*{
    margin : 0%;
    padding : 0%;
    box-sizing  : border-box;
}

ul{
    display: flex;
    gap: 40px ;
    border: 1px solid;
    padding: 30px;
    border-radius: 50px;
}

li{
    list-style: none;
    font-size: large;
}

nav{
    display: flex;
    justify-content: center;
    margin: 50px;
}