body{
    font-family: cursive;
}


/* First letter select hoga */
h2::first-letter{
    font-size: 3rem;
    background-color: red;
}


/* Selects the First Line */
p::first-line{
    background-color: burlywood;
}


/* jo text tm select kroge uska color change hoga (copy paste krne ke liye select krte h na vaise hi kr ke dekho) */
::selection{
    color: greenyellow;
    background-color: black;
}



/* ::before - what is before this paragraph - happy se phle bhi kuch h jo visible nhi h tm usko select kr skte ho */
/* ::after - before ka opposite - isme last me hota h */

h2::before{
    content: 'Before the para';
}


h2::after{
    content: 'After the para';
}





.required::after{
    content: '*';
    color: red;
}