*{
  margin : 0%;
  padding : 0%;
  box-sizing  : border-box;
  color: white;
}

html,body{
  height : 100%;
  width : 100%;
}
body{
  background-color: black;
}


h1{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  text-decoration: underline;
  white-space: nowrap; /* Contact page me contact and page alg alg line me print ho rhe the ab vo ek line me print honge */
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(15, 139, 139);
}

.nav div{
  display: flex;
  align-items: center;
  gap:40px;
}